.tradeinput-container {
  margin-top: 2rem;
  box-shadow: 5px 3px 7px 3px  grey !important;
}

.tradeBtn {
  margin-top: 2rem !important;
  font-weight: 600;
  border: 2px solid #fff;
  transition: all 0.3s ease;
  width: 60%;
  gap: 2rem;
}

.tradeBtn:hover {
  box-shadow: 2px 3px #31030381;
  transition: all 400ms ease;
}
