.imgBorder{
  border: 1px solid rgba(128, 128, 128, 0.103);
  border-radius: 1rem 0 1rem !important;
}

.trade-container{
  transition: all 0.3s ease;
}

.trade-container:hover{
  box-shadow: 8px 9px 8px 5px #31030381;
  transition: all 0.3s ease !important;
}